
*{padding: 0px;margin: 0px;
    }
body{
    background-color: #202124;
    color: #fff;
}



.output{
    margin:  0 auto;
    width: 960px;
}


.app-heading {
    color: #feca12;
    margin: 10px 0;
}


/* // Minimal Form Generic: Resets */
input, select, textarea {
	display: block;
	box-sizing: border-box;
	width: 30%;
	outline: none;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
    background-color: #313235;
    color: #fff;
}



label {
	display: block;
	margin-bottom: 0.25em;
}

input {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
    color: #fff;
	background-color: #313235;
	&:focus {
		border-color: gray;
	}

	&::placeholder {
		color: #fff;
	}
}


.note-block {
    border-bottom: 1px solid #5f6368;
    padding-bottom: 33px;
}


.show-note{
    margin-top: 25px;
    display: flex;
    flex-wrap:wrap;
}


.note-card {
    width: 150px;
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #5f6368;
    cursor: pointer;
}

.submit-btn {
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #feca12;
    border: 1px solid #5f6368;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}