{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class ="output">

    <h2> hello world</h2>

    <div class ="note-block">
        <label for="note-title">Title</label></br>
        <input type="text" name="note-title"></br>
        
        <label for="note-text">Note</label></br>
        <textarea class="note-text" name="note" rows="4" cols="60"></textarea></br>
        <input type="submit" value="submit" class="submit-btn">
    </div>

    <div class="show-note">
        <div class="note-card">
            <h4>Note title</h4>
            <p>Im note content</p>
        </div>

    </div>


</div>
{% endblock content %}